body {
    background-color:#c9d8da;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 40px;
    color: 	#04967c;
}
h3 {
    color:#f58f23;
}