body {
    background-color:#cf84a9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 40px;
    color: 	#aed654;
}
h3 {
    color:	#97ebdb;
}